@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: unset;
}

#loading_page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(ellipse, #525252, #252525);
  color: #757575;
  z-index: 1021;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#loading_page img {
  margin-bottom: -30px;
}

body {
  font-family: "PingFang TC", "Helvetica Neue", "EB Garamond", Noto Serif TC, "Microsoft JhengHei", 微軟正黑體, "Arial", sans-serif;
  color: #1A1A1A;
}

header {
  position: sticky;
  top: 0;
  z-index: 1020;
  font-family: "Helvetica", serif;
  display: flex;
  align-items: center;
  padding: 16px 32px;
  color: #fff;
  font-weight: bold;
  border-bottom: 1px solid #fff;
}
header nav {
  margin-left: auto;
}
header .menu_list {
  display: flex;
  list-style-type: none;
}
header .menu_list li a {
  color: rgba(255, 255, 255, 0.7);
  display: block;
}
header .menu_list li a:hover {
  color: #fff;
}
header .menu_list li:not(:last-child) a {
  margin-right: 30px;
}
header.is_sticky {
  background: #192725;
  border-bottom: 0;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.48);
}

.banner {
  margin-top: -49px;
  height: 100vh;
}
.banner .vegas-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 49px;
}
.banner .vegas-content .banner_content {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 800px;
  padding: 150px 90px;
  border: 1px solid rgba(255, 255, 255, 0.03);
  text-align: center;
  color: #fff;
}
.banner .vegas-content .banner_content_title {
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 30px;
}
.no_number {
  font-size: 16px;
}

.index_section {
  padding: 120px 0;
}
.index_section:nth-of-type(even) {
  background-color: rgba(0, 142, 106, 0.1);
}

.index_section_title {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.index_section_title .tw,
.index_section_title .en {
  writing-mode: vertical-lr;
}
.index_section_title .tw {
  font-size: 36px;
  padding-right: 20px;
}
.index_section_title .en {
  color: #008E6A;
  font-family: "Helvetica", serif;
}

.about_img {
  background: center center/cover url(../img/me.jpg) no-repeat;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: auto;
}
.about_title {
  margin-bottom: 60px;
}
.about_content_wrap .about_text_title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}
.about_content_wrap .about_text {
  font-size: 20px;
  line-height: 1.8;
}