@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: unset;
}

#loading_page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(ellipse, #525252, #252525);
  color: #757575;
  z-index: 1021;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#loading_page img {
  margin-bottom: -30px;
}

body {
  font-family: "PingFang TC", "Helvetica Neue", "EB Garamond", Noto Serif TC, "Microsoft JhengHei", 微軟正黑體, "Arial", sans-serif;
  color: #1A1A1A;
  line-height: 1.8;
}

header {
  position: sticky;
  top: 0;
  z-index: 1020;
  font-family: "Helvetica", serif;
  display: flex;
  align-items: center;
  padding: 16px 32px;
  color: #fff;
  font-weight: bold;
  border-bottom: 1px solid #fff;
}
header .logo a:hover {
  color: #fff;
  text-decoration: unset;
}
header nav {
  margin-left: auto;
}
header .menu_list {
  display: flex;
  list-style-type: none;
}
header .menu_list li a {
  color: rgba(255, 255, 255, 0.7);
  display: block;
  font-size: 14px;
}
header .menu_list li a:hover {
  color: #fff;
}
@media (max-width: 767px) {
  header .menu_list li a {
    padding: 5px;
  }
}
header .menu_list li:not(:last-child) a {
  margin-right: 30px;
}
@media (max-width: 767px) {
  header .menu_list li:not(:last-child) a {
    margin-right: 0px;
  }
}
@media (max-width: 767px) {
  header .menu_list {
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.48);
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    background: #192725;
    display: block;
    text-align: center;
    padding: 5px;
    display: none;
  }
}
header .menu_toggle {
  display: none;
}
header .menu_toggle:hover {
  color: #fff;
}
@media (max-width: 767px) {
  header .menu_toggle {
    display: block;
  }
}
header.is_sticky {
  background: #192725;
  border-bottom: 0;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.48);
}

.banner {
  margin-top: -61px;
  height: 100vh;
}
.banner .vegas-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0px;
}
.banner .vegas-content .banner_content {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 800px;
  padding: 150px 90px;
  border: 1px solid rgba(255, 255, 255, 0.03);
  text-align: center;
  color: #fff;
}
.banner .vegas-content .banner_content_title {
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 30px;
  font-family: "Helvetica", serif;
}
.banner .vegas-content .banner_content_text {
  font-size: 20px;
  font-family: "Helvetica", serif;
}
@media (max-width: 991px) {
  .banner .vegas-content .banner_content {
    width: 500px;
    padding: 50px 80px;
  }
  .banner .vegas-content .banner_content_title {
    font-size: 30px;
    margin-bottom: 0;
  }
  .banner .vegas-content .banner_content_text {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .banner .vegas-content .banner_content {
    width: 300px;
    padding: 30px 30px;
  }
  .banner .vegas-content .banner_content_title {
    font-size: 26px;
  }
}

.no_number {
  font-size: 16px;
}

.index_section {
  padding: 120px 0;
}
.index_section:nth-of-type(even) {
  background-color: rgba(0, 142, 106, 0.1);
}
@media (max-width: 991px) {
  .index_section {
    padding: 80px 0;
  }
}
@media (max-width: 767px) {
  .index_section {
    padding: 50px 0;
  }
}

.index_section_title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 60px;
  letter-spacing: 2px;
}
.index_section_title .tw,
.index_section_title .en {
  writing-mode: vertical-lr;
}
.index_section_title .tw {
  font-size: 36px;
  padding-right: 20px;
}
.index_section_title .en {
  color: #008E6A;
  font-family: "Helvetica", serif;
}
@media (max-width: 991px) {
  .index_section_title {
    margin-bottom: 30px;
  }
  .index_section_title .tw {
    font-size: 28px;
    padding-right: 0;
  }
  .index_section_title .en {
    font-size: 12px;
  }
}

.about_img {
  background: center center/cover url(../img/me.jpg) no-repeat;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: auto;
}
@media (max-width: 991px) {
  .about_img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 767px) {
  .about_img {
    margin-right: auto;
    margin-bottom: 30px;
  }
}
.about_content_wrap .about_text_title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .about_content_wrap .about_text_title {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .about_content_wrap .about_text_title {
    font-size: 22px;
  }
}
.about_content_wrap .about_text {
  font-size: 18px;
  line-height: 1.8;
}
@media (max-width: 991px) {
  .about_content_wrap .about_text {
    font-size: 16px;
  }
}

.experience_list {
  position: relative;
}
.experience_list::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #008E6A;
  display: block;
}
.experience_item {
  margin-left: 30px;
  padding: 20px;
  position: relative;
  font-size: 17px;
  background-image: linear-gradient(45deg, white, transparent);
}
.experience_item:not(:last-child) {
  margin-bottom: 30px;
}
.experience_item::before {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid #008E6A;
  border-radius: 50%;
  left: -31px;
  top: -3px;
  transform: translateX(-50%);
  background: #e5f3f0;
}
.experience_item_title {
  color: #192725;
  font-weight: 800;
  font-size: 18px;
}
.experience_item_position {
  color: #008e6a;
  font-weight: bold;
}
@media (max-width: 991px) {
  .experience_item {
    font-size: 16px;
  }
}

.skill_item {
  letter-spacing: 2px;
  color: #184e40;
  height: 100%;
  padding: 8px 0;
  transition: all 0.3s ease-in;
  overflow: hidden;
}
.skill_item_img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.skill_item_img img {
  transition: all 0.3s ease-in;
}
@media (max-width: 991px) {
  .skill_item_img img {
    max-width: 100px;
  }
}
@media (max-width: 767px) {
  .skill_item_img img {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .skill_item_img {
    justify-content: center;
  }
}
.skill_item_name {
  color: #1A1A1A;
}
.skill_item_title {
  font-family: "Helvetica", serif;
  font-size: 20px;
  font-weight: bold;
  color: #008E6A;
}
@media (max-width: 767px) {
  .skill_item_title {
    font-size: 18px;
    text-align: center;
  }
}
.skill_item_brief {
  list-style-type: disc;
  padding-left: 20px;
}
@media (max-width: 767px) {
  .skill_item_brief {
    font-size: 14px;
  }
}
.skill_item:hover .skill_item_img img {
  transform: scale(1.05) rotate(-5deg);
}
@media (max-width: 767px) {
  .skill_item {
    border-bottom: 1px solid rgba(0, 142, 106, 0.1);
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.skill_col {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .skill_col {
    margin-bottom: 0px;
  }
  .skill_col:first-child .skill_item {
    padding-top: 0;
  }
}

.works_item {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  transition: all 0.3s ease-in;
  border-radius: 50px;
}
.works_item_1 {
  background: center center/cover url(../img/fjall.jpg);
}
.works_item_2 {
  background: center center/cover url(../img/fresh.jpg);
}
.works_item_3 {
  background: center center/cover url(../img/linrg.jpg);
}
.works_item_4 {
  background: center center/cover url(../img/ilovebaby.png);
}
.works_item_info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  transition: all 0.3s ease-out;
}
.works_item_title {
  font-size: 24px;
  font-weight: bold;
  font-family: "微軟正黑體", sans-serif;
}
@media (max-width: 991px) {
  .works_item_title {
    font-size: 16px;
    font-weight: normal;
  }
}
@media (max-width: 767px) {
  .works_item_title {
    font-size: 14px;
  }
}
.works_item:hover > .works_item_info {
  opacity: 1;
}
@media (max-width: 767px) {
  .works_item {
    border-radius: 15px;
  }
}

.contact {
  color: #fff;
  background: center center url(../img/bg02.png) repeat;
  background-attachment: fixed;
}
.contact a {
  color: #fff;
}
.contact_info {
  position: relative;
  padding-bottom: 30px;
  font-family: sans-serif;
  letter-spacing: 1.5px;
}
.contact_info::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15px;
  height: 1px;
  background: rgba(255, 255, 255, 0.4);
}
.contact_row {
  display: flex;
  flex-wrap: wrap;
}
.contact_link {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}
@media (max-width: 767px) {
  .contact_link {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 30px;
  }
}
.contact_social {
  font-size: 30px;
  margin-bottom: 10px;
}
.contact_social a {
  text-decoration: unset !important;
}
.contact_social a:not(:last-child) {
  padding-right: 20px;
}
.contact_copyright {
  font-family: sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 10px;
  line-height: 1;
}