// sticky top
@mixin sticky_top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}
//毛玻璃效果
@mixin backdrop_blur {
    backdrop-filter: blur(5px);
}

//grid

//pad {
@mixin pad {
    @media (max-width: 991px) {
        @content;
    }
}
