.banner {
    margin-top: -61px;
    height: 100vh;
    .vegas-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-top: 0px;
        .banner_content {
            @include backdrop_blur;
            width: 800px;
            padding: 150px 90px;
            border: 1px solid rgba($color: #fff, $alpha: 0.03);
            text-align: center;
            color: #fff;
            &_title {
                font-weight: bold;
                font-size: 50px;
            }
            &_text {
                font-size: 20px;
                font-family: "Helvetica", serif;
                color: $COLOR_THEME;
                letter-spacing: 10px;
                @include pad {
                    letter-spacing: 5px;
                }
            }
            @include pad {
                width: 600px;
                padding: 50px 80px;
                &_title {
                    font-size: 30px;
                    margin-bottom: 0;
                }
                &_text {
                    font-size: 16px;
                }
            }
            @include mobile {
                width: 300px;
                padding: 30px 30px;
                &_title {
                    font-size: 20px;
                }
                &_text {
                    font-size: 12px;
                }
            }
        }
    }
}
