.banner {
    margin-top: -49px;
    height: 100vh;
    .vegas-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        margin-top: 49px;
        .banner_content {
            @include backdrop_blur;
            width: 800px;
            padding: 150px 90px;
            border: 1px solid rgba($color: #fff, $alpha: 0.03);
            text-align: center;
            color: #fff;
            &_title {
                font-weight: bold;
                font-size: 60px;
                margin-bottom: 30px;
                font-family: "Helvetica", serif;
            }
            &_text {
                font-size: 20px;
            }
        }
    }
}