// 網頁字型
$FONT_FAMILY: "Helvetica Neue", "EB Garamond", "Noto Serif TC", "PingFang TC", "Microsoft JhengHei",
    "Microsoft JhengHei", "Arial", sans-serif;
//主題色
$COLOR_THEME: #008e6a;
//字體顏色
$COLOR_FONT: #1a1a1a;
