header {
  @include sticky_top;
  font-family: "Helvetica", serif;
  display: flex;
  align-items: center;
  padding: 16px 32px;
  color: #fff;
  font-weight: bold;
  border-bottom: 1px solid #fff;
  .logo {
    a:hover {
      color: #fff;
      text-decoration: unset;
    }
  }
  nav {
    margin-left: auto;
  }
  .menu_list {
    display: flex;
    list-style-type: none;

    li {
      a {
        color: rgba($color: #fff, $alpha: 0.7);
        display: block;
        font-size: 14px;
        &:hover {
          color: #fff;
        }
        @include mobile {
          padding: 5px;
        }
      }
      &:not(:last-child) a {
        margin-right: 30px;
        @include mobile {
          margin-right: 0px;
        }
      }
    }
    @include mobile {
      box-shadow: 0px 0px 6px 3px rgb(0 0 0 / 48%);
      position: absolute;
      left: 0;
      right: 0;
      top: 57px;
      background: #192725;
      display: block;
      text-align: center;
      padding: 5px;
      display: none;
    }
  }
  .menu_toggle {
    display: none;
    &:hover {
      color: #fff;
    }
    @include mobile {
      display: block;
    }
  }
  &.is_sticky {
    background: #192725;
    border-bottom: 0;
    box-shadow: 0px 0px 6px 3px rgb(0 0 0 / 48%);
  }
}
